-i https://pypi.org/simple
dj-database-url==0.5.0
django-bootstrap3==11.1.0
django-markdownx==2.0.28
django==1.11.22
gunicorn==19.9.0
markdown==3.1.1
pillow==6.1.0
psycopg2==2.7
pytz==2019.1
whitenoise==3.3.1
