{# Load the collection of template tags provided by django-bootstrap #}
{%  load bootstrap3 %}
{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static "learning_logs/css/font-awesome.min.css" %}">
</head>
<body>
{# Static navbar #}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
            </button>
            {% if user.is_authenticated %}
                <a href="{% url 'learning_logs:topics' %}" class="navbar-brand">Topics</a>
            {% else %}
                <a href="{% url 'learning_logs:index' %}" class="navbar-brand">Leaning Log </a>
            {% endif %}
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/sfarzy/learning_log.git"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                {% if user.is_authenticated %}
                    <li><a>Hello, {{ user.username }}</a></li>
                    <li><a href="{% url 'users:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'users:demo' %}">Demo</a></li>
                    <li><a href="{% url 'users:register' %}">Register</a></li>
                    <li><a href="{% url 'users:login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        {% block header %}{% endblock header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</div>
</body>
</html>
