{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>Edit Topic</h2>
{% endblock %}

{% block content %}
    <form action="{% url 'learning_logs:edit_topic' topic.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'learning_logs:topics' %}" class='btn btn-danger'>Cancel</a>
        {% endbuttons %}
    </form>
{% endblock %}
