{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>{{ topic }}</h2>
    <a class="btn btn-default"
       href="{% url 'learning_logs:edit_topic' topic.id %}">Edit Topic</a>
{% endblock %}

{% block content %}

    <h3> Entries </h3>
    <a class="btn btn-success"
       href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
    </p>
    <ul>
        {% for entry in entries %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        {{ entry.date_added|date:'M d, Y H:i' }}
                        <small>
                            <a href="{% url 'learning_logs:edit_entry' entry.id %}">
                                Edit entry
                            </a>
                        </small>
                    </h3>
                </div>
                <div class="panel-body">
                    {{ entry.markdown_field|safe }}
                </div>
            </div>
        {% empty %}
            There are no entries for this topic yet.
        {% endfor %}
    </ul>

{% endblock content %}
